<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.okhttp_crud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ViewPdfActivity"></activity>
        <activity android:name=".ReadAllActivity" />
        <activity android:name=".ReadSingleActivity" />
        <activity android:name=".SingleDeleteActivity" />
        <activity android:name=".SingleUpdateActivity" />
        <activity android:name=".SingleReadActivity" />
        <activity android:name=".SingleCreatedActivity" />
        <activity android:name=".ReadPdfActivity" />
        <activity android:name=".ReadImageActivity" />
        <activity android:name=".MultiFileUploadActivity" />
        <activity android:name=".MultiFileActivity" />
        <activity android:name=".SingleFileActivity" />
        <activity android:name=".TextDeleteActivity" />
        <activity android:name=".TextUpdateActivity" />
        <activity android:name=".TextReadActivity" />
        <activity android:name=".TextCreateActivity" />
        <activity android:name=".FileCrudActivity" />
        <activity android:name=".TextCrudActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>